{% extends "index.html" %}

{% block title %}Deni- about{% endblock %}

{% block content %}
<div class="column" style="background-color:rgb(1, 32, 32);">
    <h2 style="background-color: rgb(1, 32, 32);">A Short Story</h2>
    <div class="container2" style="background-color:rgb(1, 32, 32);"> 
        <div class="column-left">
            <p>
                <img src="{{url_for('static', filename='/images/king.png')}}" style="max-width: 400px;">
            </p>
        </div>
        <div class="column-right" style="text-align: justify;">
            <p>
                "Hello, my name is D.K Githinji. I am a professional artist based in Kenya. I work with various mediums ranging from 
                pencil, charcoal, watercolor but predorminantly working with aclyric. I do portraits as well as landscape painting
                embracing various styles and techniques, the one mostly seen on my work is a mid abstraction to impressionism. My 
                passion for art is anmatched and i have commited my desire for great work to do all my pieces."
            </p>
        </div>
    </div>
</div>
{% endblock %}
