{% extends "index.html" %}

{% block title %}Deni- landing page{% endblock %}

{% block content %}
<h1>Shop</h1>
<div class="container">
    <div class="imagelist" style="background:url(/static/images/bg.jpg) repeat;">
        {% for art in art_list%}
                <div class="image_container">
                    <div class="image">
                        <img src="{{art[5]}}" alt="{{art[4]}}">
                    </div>
                    <div class="images_text">
                            <p class="title">{{art[1]}}</p>
                            <p class="description">{{art[2]}}</p>
                    </div>
                    <div>
                        <div>
                            <h3>KES {{art[4]}}</h3>
                        </div>
                        <div>
                            <button>buy</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div> 
</div>




{% endblock%}